// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-background-color: #131413;
$secondary-background-color: rgba(40, 43, 40, 1);
$primary-text-color:#F7F7F2;
//$ct-color: #5a768b;
$ct-color: #5ab8f4;
// $t-color: #9a8a41;
$t-color: #f0c941;
$error-color-red: #B80C09;
$success-color-blue: #01BAEF;
$hover-color: #E7E247;
$selected-player-color: #F7F7F2;

$primary-weapon-img-height: 30px;
$secondary-weapon-img-height: 20px;

/* Background Image */
$home-image: url(../src/assets/background-min.png);
$show-home-image: true;

$background-opacity: 0.9;
